body {

  
  padding: 0;

  margin: 0;

  background-image: url("http://192.168.50.177/grupo02/sistema/assets/img/FundoLogin.jpg");
  background-attachment: fixed;
  background-position: 100%;
  background-repeat: no-repeat;


  display: flex;
  width: 100%;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.alinhamento-img{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 100%;
}


#pr{
  color: #ffffff;
  text-align:center;
  font-size: 200%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#login {

  display: flex;

  align-items: center;

  justify-content: center;

  height: 500px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {

  background-color: rgba(204, 202, 202, 0.753);

  padding: 40px;

  border: 5px solid;

  border-color: rgb(40, 114, 156);


  border-radius: 20px;

  width:280px;

}

.text_erro{
  color: #910303;
}

.card-header {

  padding-bottom: 50px;

  opacity: 0.8;

  color: rgb(0, 0, 0);

}

.card-header::after {

  content: "";

  width: 70px;

  height: 1px;

  background-color: #000000;

  display: block;

  margin-top: -17px;

  margin-left: -5px;

}

.card-content label {

  color: rgb(0, 0, 0);

  font-size: 15px;

  opacity: 0.8;

}

.card-content-area {

  display: flex;

  flex-direction: column;

  padding:10px 0;

  

}

.card-content-area input {

  margin-top: 10px;

  padding:0 5px;

  background-color: transparent;

  border:none;

  border-bottom: 1px solid #000000;

  outline: none;

  color: #000000;

}

.card-footer {

  display: flex;

  flex-direction: column;

}

.card-footer .submit{

  width: 100%;

  height: 40px;

  background-color: #008cff;

  border:none;

  border-radius: 10px;

  color:#ffffff;

  margin: 10px 0;

}

.card-footer a {

  text-align: center;

  font-size: 15px;

  opacity: 0.8;

  color: #fff;

  text-decoration: none;

}